@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  line-height: 1;
  @apply bg-neutral00 flex flex-col justify-between min-h-screen;
}
.container {
  @apply max-w-[1200px] mx-auto w-full px-5 max-500:px-4;
}
.bg {
  background: #fceed5;
  background: linear-gradient(
    140deg,
    rgba(252, 238, 213, 1) 6%,
    rgba(252, 238, 213, 1) 75%,
    rgba(255, 231, 186, 1) 100%
  );
}
.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.swiper-pagination-bullet {
  @apply w-[9px] h-[9px] bg-gray-400;
}

.swiper-pagination-bullet-active {
  @apply w-[22px] bg-primary rounded-[7.5px];
}

@layer base {
  html {
    font-family: "regularSans", sans-serif;
  }
  @font-face {
    font-family: "regularSans";
    src: url("/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  }
  @font-face {
    font-family: "boldSans";
    src: url("/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
  }
  @font-face {
    font-family: "mediumSans";
    src: url("/fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  }
}
